label>input{
    display: none;
}

.profile-card{
   width: 100%;
}
.profile-details{
    display: flex;
    flex-direction: row;    
    gap: 10em;
    font-size: 17px;
}
.profile-header{  
    height: 30%;
    box-shadow: 0 1px #e6e9f9;
    line-height: 40px;
    margin-bottom: 35px;
}
.profile-image{
    margin-right: 40px;
    height: 100%;
}
.profile-image img{
   
    overflow: hidden;
    height: 250px;
    width: 250px;
}
.profile-details .profile-information,.profile-header h4{
    color:rgb(0, 0, 184);  
}

.profile-details .headers>*,.profile-details .profile-information>*{
   margin-bottom: 15px;
}