body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}
.wrapper{    
  display: block;
  height: 100%;
  position: relative;
}
.wrapper .section{
  position: fixed;
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
  height: 100%;
}
.wrapper .module-content{
  width: 100%;
  display: flex;
  position: absolute;  
  height: 100%;
}

.navigate-button{
  display: flex;
  flex-direction: row;
  gap: 1em;
  bottom: 10px;
  left: 10px;
  position: absolute;

 
}
.navigate-button button{
  padding: 5px;
  border: none;
  box-shadow: 0 0 10px #ada9a9;

} 
button .edit{
  width: 60px;
}
